<!-- <p>home works!</p> -->
<div class = "container">
  <div class="text-center">
<button type="submit" class="btn btn-primary" routerLink="/fruits/create">Create</button>
</div>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th>Action</th>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>

<tbody>
    <tr *ngFor="let item of allFruits; let i = index">
        <td>
            <a class="btn btn-primary" [routerLink]="['/fruits/edit', item.id]">Edit</a> | 
            <!-- <button type="button" (click)="openDeleteModal(item.id)" class="btn btn-danger">Delete</button> -->
            <button type="button" (click)="deleteData(item.id,i)" class="btn btn-danger">Delete</button>
            </td>
        <td>{{item.id}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Quantity}}</td>
        <td>{{item.Price}}</td>
    </tr>
</tbody>
</table>
</div>
